{
  "presets": ["es2015", "stage-3"],
  "plugins": [
     "add-module-exports",
     ["transform-runtime", {
       "polyfill": false,
       "regenerator": true
     }]
  ],
  "env": {
    "test": {
      "plugins": ["__coverage__"]
    }
  }
}
